#bgColor
{
    background-color: #34495e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainTitle
{
    font-size: 40px;
    color: white;
    height: 100px;
    font-weight: bold;
}

/* Като четеш името на класа, някъкси не се сещам че ще бутаме и line-height-та не елемента
Слагай малко по абстрактни имена на класовете, за пример:  .businessCard*/
.personBackgroundColor
{
    background-color: orangered;
    line-height: 25px;
}

table 
{   
    width: 100%;
    border-collapse: collapse;
}

.tableSpacing
{
    width:10%;
}

.employeeName
{
    font-weight: bold;
    font-size: 120%;
    color: white;
}

.personalDataTextColor
{
    color: white;
    font-weight: bold;
}

.personalDataInputsStyles
{
    color: #f1c40f;
    margin-left: 5px;
    font-weight: normal;
}